In [2]:
# data gathering
# json and sql data 
# fetch data from an api 
# Web scraping - api nabahai kana parser bata data nikalxa

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('NAFLD.csv')

In [6]:
df.head()

,Patient No.,Age,"Gender (Female=1, Male=2)",Height,Weight,Body Mass Index,Waist Circumference,Hip Circumference,Systolic Blood Pressure,Diastolic Blood Pressure,...,Activity,Fibrosis,NAS score according to Kleiner,"NAS score>=4 and Fibrosis>=2 (If NAS score>=4 and Fibrosis>=2 = 1, If not = 0)","Fibrosis status (No=0, Yes=1) (Fibrosis 1 and above, there is Fibrosis)","Significant Fibrosis (No=0, Yes=1) (If Fibrosis 2 and above, there is Significant Fibrosis)","Advanced Fibrosis (No=0, Yes=1) (If Fibrosis is 3 and above, there is Advanced Fibrosis)","Cirrhosis (No=0, Yes=1) (If Fibrosis is 4, there is Cirrhosis)","Diagnosis according to SAF (NASH=1, NAFL=2)","Type of Disease (Mild illness=1, Severe illness=2)"
0,1,60,1,150,80,35.56,119.0,104.0,135,77,...,2,1,4,1,1,0,0,0,1,2
1,2,55,1,154,73,30.78,101.0,98.0,120,72,...,2,0,4,1,0,0,0,0,1,2
2,3,53,2,170,101,34.95,116.0,112.0,120,80,...,2,3,4,1,1,1,1,0,1,2
3,4,33,2,175,95,31.02,114.0,114.0,124,83,...,2,1,4,1,1,0,0,0,1,2
4,5,23,2,162,68,25.91,101.0,97.0,124,79,...,2,0,4,1,0,0,0,0,1,2

In [20]:
# url bata load garna ni milxa 
import requests
from io import StringIO
url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS x 10.14; rv:66.0 Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)
pd.read_csv(data)
# aru same hunxa url ma gayera change garne its just a code snippet

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [24]:
# step parameter 
# esma chai aba tsv file xa bhane chau comma haru find garxa telle 
# so use,
# pd.read_csv('movies_titles_metadata.tsv',sep='\t')
# aba elle comma ko satta tab herxa

pd.read_csv('movies_titles_metadata.tsv',sep='\t' , names=['sno','name','release_year')]
# esar column name haru dina milxa

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (473546426.py, line 7)

In [26]:
df

,Patient No.,Age,"Gender (Female=1, Male=2)",Height,Weight,Body Mass Index,Waist Circumference,Hip Circumference,Systolic Blood Pressure,Diastolic Blood Pressure,...,Activity,Fibrosis,NAS score according to Kleiner,"NAS score>=4 and Fibrosis>=2 (If NAS score>=4 and Fibrosis>=2 = 1, If not = 0)","Fibrosis status (No=0, Yes=1) (Fibrosis 1 and above, there is Fibrosis)","Significant Fibrosis (No=0, Yes=1) (If Fibrosis 2 and above, there is Significant Fibrosis)","Advanced Fibrosis (No=0, Yes=1) (If Fibrosis is 3 and above, there is Advanced Fibrosis)","Cirrhosis (No=0, Yes=1) (If Fibrosis is 4, there is Cirrhosis)","Diagnosis according to SAF (NASH=1, NAFL=2)","Type of Disease (Mild illness=1, Severe illness=2)"
0,1,60,1,150,80,35.56,119.0,104.0,135,77,...,2,1,4,1,1,0,0,0,1,2
1,2,55,1,154,73,30.78,101.0,98.0,120,72,...,2,0,4,1,0,0,0,0,1,2
2,3,53,2,170,101,34.95,116.0,112.0,120,80,...,2,3,4,1,1,1,1,0,1,2
3,4,33,2,175,95,31.02,114.0,114.0,124,83,...,2,1,4,1,1,0,0,0,1,2
4,5,23,2,162,68,25.91,101.0,97.0,124,79,...,2,0,4,1,0,0,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,601,58,1,150,85,37.78,110.0,108.0,140,100,...,4,1,6,0,1,0,0,0,1,2
601,602,63,2,186,99,28.61,108.0,117.0,120,80,...,4,1,6,0,1,0,0,0,1,2
602,603,44,1,159,102,40.30,127.0,108.0,150,80,...,4,3,6,0,1,1,1,0,1,2
603,604,44,1,159,102,40.35,127.0,108.0,150,80,...,4,3,6,0,1,1,1,0,1,2
604,605,64,2,173,89,29.74,NaN,110.0,126,82,...,4,3,6,0,1,1,1,0,1,2

In [28]:
df = pd.read_csv('NAFLD.csv', index_col ='Patient No.') 

#index dinxa elle chai

In [30]:
df

,Age,"Gender (Female=1, Male=2)",Height,Weight,Body Mass Index,Waist Circumference,Hip Circumference,Systolic Blood Pressure,Diastolic Blood Pressure,"Diyabetes Mellitus (No=0, Yes=1)",...,Activity,Fibrosis,NAS score according to Kleiner,"NAS score>=4 and Fibrosis>=2 (If NAS score>=4 and Fibrosis>=2 = 1, If not = 0)","Fibrosis status (No=0, Yes=1) (Fibrosis 1 and above, there is Fibrosis)","Significant Fibrosis (No=0, Yes=1) (If Fibrosis 2 and above, there is Significant Fibrosis)","Advanced Fibrosis (No=0, Yes=1) (If Fibrosis is 3 and above, there is Advanced Fibrosis)","Cirrhosis (No=0, Yes=1) (If Fibrosis is 4, there is Cirrhosis)","Diagnosis according to SAF (NASH=1, NAFL=2)","Type of Disease (Mild illness=1, Severe illness=2)"
Patient No.,,,,,,,,,,,,,,,,,,,,,
1,60,1,150,80,35.56,119.0,104.0,135,77,0,...,2,1,4,1,1,0,0,0,1,2
2,55,1,154,73,30.78,101.0,98.0,120,72,0,...,2,0,4,1,0,0,0,0,1,2
3,53,2,170,101,34.95,116.0,112.0,120,80,1,...,2,3,4,1,1,1,1,0,1,2
4,33,2,175,95,31.02,114.0,114.0,124,83,1,...,2,1,4,1,1,0,0,0,1,2
5,23,2,162,68,25.91,101.0,97.0,124,79,0,...,2,0,4,1,0,0,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,58,1,150,85,37.78,110.0,108.0,140,100,0,...,4,1,6,0,1,0,0,0,1,2
602,63,2,186,99,28.61,108.0,117.0,120,80,0,...,4,1,6,0,1,0,0,0,1,2
603,44,1,159,102,40.30,127.0,108.0,150,80,1,...,4,3,6,0,1,1,1,0,1,2
604,44,1,159,102,40.35,127.0,108.0,150,80,1,...,4,3,6,0,1,1,1,0,1,2
605,64,2,173,89,29.74,NaN,110.0,126,82,1,...,4,3,6,0,1,1,1,0,1,2

In [32]:
#header parameter 
# header = 1 garyo bhane first row chai header banxa

In [40]:
# use_cols parameter
pd.read_csv('NAFLD.csv' ,usecols=['Patient No.'])
# patient no mata display hunxa aba sabai display hudena

     Patient No.
0              1
1              2
2              3
3              4
4              5
..           ...
600          601
601          602
602          603
603          604
604          605

[605 rows x 1 columns]

In [49]:
# SkipRows and nrows
pd.read_csv('NAFLD.csv', skiprows=[3,6])

,Patient No.,Age,"Gender (Female=1, Male=2)",Height,Weight,Body Mass Index,Waist Circumference,Hip Circumference,Systolic Blood Pressure,Diastolic Blood Pressure,...,Activity,Fibrosis,NAS score according to Kleiner,"NAS score>=4 and Fibrosis>=2 (If NAS score>=4 and Fibrosis>=2 = 1, If not = 0)","Fibrosis status (No=0, Yes=1) (Fibrosis 1 and above, there is Fibrosis)","Significant Fibrosis (No=0, Yes=1) (If Fibrosis 2 and above, there is Significant Fibrosis)","Advanced Fibrosis (No=0, Yes=1) (If Fibrosis is 3 and above, there is Advanced Fibrosis)","Cirrhosis (No=0, Yes=1) (If Fibrosis is 4, there is Cirrhosis)","Diagnosis according to SAF (NASH=1, NAFL=2)","Type of Disease (Mild illness=1, Severe illness=2)"
0,1,60,1,150,80,35.56,119.0,104.0,135,77,...,2,1,4,1,1,0,0,0,1,2
1,2,55,1,154,73,30.78,101.0,98.0,120,72,...,2,0,4,1,0,0,0,0,1,2
2,4,33,2,175,95,31.02,114.0,114.0,124,83,...,2,1,4,1,1,0,0,0,1,2
3,5,23,2,162,68,25.91,101.0,97.0,124,79,...,2,0,4,1,0,0,0,0,1,2
4,7,54,1,156,60,24.65,102.0,98.0,110,89,...,2,1,4,1,1,0,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,601,58,1,150,85,37.78,110.0,108.0,140,100,...,4,1,6,0,1,0,0,0,1,2
599,602,63,2,186,99,28.61,108.0,117.0,120,80,...,4,1,6,0,1,0,0,0,1,2
600,603,44,1,159,102,40.30,127.0,108.0,150,80,...,4,3,6,0,1,1,1,0,1,2
601,604,44,1,159,102,40.35,127.0,108.0,150,80,...,4,3,6,0,1,1,1,0,1,2
602,605,64,2,173,89,29.74,NaN,110.0,126,82,...,4,3,6,0,1,1,1,0,1,2

In [51]:
pd.read_csv('NAFLD.csv' ,nrows=100) 
# jati rakhyo teti number of rows auxa tyo bhanda dherai audena

,Patient No.,Age,"Gender (Female=1, Male=2)",Height,Weight,Body Mass Index,Waist Circumference,Hip Circumference,Systolic Blood Pressure,Diastolic Blood Pressure,...,Activity,Fibrosis,NAS score according to Kleiner,"NAS score>=4 and Fibrosis>=2 (If NAS score>=4 and Fibrosis>=2 = 1, If not = 0)","Fibrosis status (No=0, Yes=1) (Fibrosis 1 and above, there is Fibrosis)","Significant Fibrosis (No=0, Yes=1) (If Fibrosis 2 and above, there is Significant Fibrosis)","Advanced Fibrosis (No=0, Yes=1) (If Fibrosis is 3 and above, there is Advanced Fibrosis)","Cirrhosis (No=0, Yes=1) (If Fibrosis is 4, there is Cirrhosis)","Diagnosis according to SAF (NASH=1, NAFL=2)","Type of Disease (Mild illness=1, Severe illness=2)"
0,1,60,1,150,80,35.56,119.0,104.0,135,77,...,2,1,4,1,1,0,0,0,1,2
1,2,55,1,154,73,30.78,101.0,98.0,120,72,...,2,0,4,1,0,0,0,0,1,2
2,3,53,2,170,101,34.95,116.0,112.0,120,80,...,2,3,4,1,1,1,1,0,1,2
3,4,33,2,175,95,31.02,114.0,114.0,124,83,...,2,1,4,1,1,0,0,0,1,2
4,5,23,2,162,68,25.91,101.0,97.0,124,79,...,2,0,4,1,0,0,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,29,1,155,63,25.97,103.0,91.0,120,70,...,3,2,5,1,1,1,0,0,1,2
96,97,41,1,153,131,55.96,155.0,126.0,170,110,...,3,3,5,1,1,1,1,0,1,2
97,98,29,1,160,66,25.78,NaN,NaN,120,80,...,3,2,5,1,1,1,0,0,1,2
98,99,55,2,174,87,28.74,97.0,103.0,120,80,...,3,3,5,1,1,1,1,0,1,2
99,100,43,1,166,110,39.92,129.0,114.0,160,110,...,3,1,5,1,1,0,0,0,1,2

In [53]:
# Encoding parameter 
# asti hackathon ma utf-8 bahnaera rakhnu pareko thyo tesko lagi differently encoding garnu parxa

In [62]:
#skip bad lines 
pd.read_csv('NAFLD.csv' , encoding='latin-1' )
# error_bad_lines= False kei row ma error xa bhane yo use garne error janxea

,Patient No.,Age,"Gender (Female=1, Male=2)",Height,Weight,Body Mass Index,Waist Circumference,Hip Circumference,Systolic Blood Pressure,Diastolic Blood Pressure,...,Activity,Fibrosis,NAS score according to Kleiner,"NAS score>=4 and Fibrosis>=2 (If NAS score>=4 and Fibrosis>=2 = 1, If not = 0)","Fibrosis status (No=0, Yes=1) (Fibrosis 1 and above, there is Fibrosis)","Significant Fibrosis (No=0, Yes=1) (If Fibrosis 2 and above, there is Significant Fibrosis)","Advanced Fibrosis (No=0, Yes=1) (If Fibrosis is 3 and above, there is Advanced Fibrosis)","Cirrhosis (No=0, Yes=1) (If Fibrosis is 4, there is Cirrhosis)","Diagnosis according to SAF (NASH=1, NAFL=2)","Type of Disease (Mild illness=1, Severe illness=2)"
0,1,60,1,150,80,35.56,119.0,104.0,135,77,...,2,1,4,1,1,0,0,0,1,2
1,2,55,1,154,73,30.78,101.0,98.0,120,72,...,2,0,4,1,0,0,0,0,1,2
2,3,53,2,170,101,34.95,116.0,112.0,120,80,...,2,3,4,1,1,1,1,0,1,2
3,4,33,2,175,95,31.02,114.0,114.0,124,83,...,2,1,4,1,1,0,0,0,1,2
4,5,23,2,162,68,25.91,101.0,97.0,124,79,...,2,0,4,1,0,0,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,601,58,1,150,85,37.78,110.0,108.0,140,100,...,4,1,6,0,1,0,0,0,1,2
601,602,63,2,186,99,28.61,108.0,117.0,120,80,...,4,1,6,0,1,0,0,0,1,2
602,603,44,1,159,102,40.30,127.0,108.0,150,80,...,4,3,6,0,1,1,1,0,1,2
603,604,44,1,159,102,40.35,127.0,108.0,150,80,...,4,3,6,0,1,1,1,0,1,2
604,605,64,2,173,89,29.74,NaN,110.0,126,82,...,4,3,6,0,1,1,1,0,1,2

In [64]:
# dtypes parameter
pd.read_csv('NAFLD.csv' , encoding='latin-1' ).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605 entries, 0 to 604
Data columns (total 62 columns):
 #   Column                                                                                       Non-Null Count  Dtype
---  ------                                                                                       --------------  -----
 0   Patient No.                                                                                  605 non-null    int64
 1   Age                                                                                          605 non-null    int64
 2   Gender (Female=1, Male=2)                                                                    605 non-null    int64
 3   Height                                                                                       605 non-null    int64
 4   Weight                                                                                       605 non-null    int64
 5   Body Mass Index                                                                              605 non-null    float64
 6   Waist Circumference                                                                          576 non-null    float64
 7   Hip Circumference                                                                            598 non-null    float64
 8   Systolic Blood Pressure                                                                      605 non-null    int64
 9   Diastolic Blood Pressure                                                                     605 non-null    int64
 10  Diyabetes Mellitus (No=0, Yes=1)                                                             605 non-null    int64
 11  Hypertension (No=0, Yes=1)                                                                   605 non-null    int64
 12  Hyperlipidemia (No=0, Yes=1)                                                                 605 non-null    int64
 13  Metabolic syndrome (No=0, Yes=1)                                                             605 non-null    int64
 14  Smoking Status (Never Smoked=1, Left Smoking=2, Smoking=3)                                   577 non-null    float64
 15  AST                                                                                          605 non-null    float64
 16  ALT                                                                                          605 non-null    int64
 17  ALP                                                                                          604 non-null    float64
 18  GGT                                                                                          602 non-null    float64
 19  LDH                                                                                          561 non-null    float64
 20  Total Bilirubin                                                                              604 non-null    float64
 21  Direct Bilirubin                                                                             604 non-null    float64
 22  Total Protein                                                                                523 non-null    float64
 23  Albumin                                                                                      605 non-null    float64
 24  Total Cholesterol                                                                            605 non-null    int64
 25  Triglycerides                                                                                604 non-null    float64
 26  HDL                                                                                          604 non-null    float64
 27  LDL                                                                                          602 non-null    float64
 28  Microalbumin Spot Urine                                                                      183 non-null    float64
 29  Microalbumin/Creatinine Ratio                                                                115 non-null    float64
 30  TSH                                                                                          293 non-null    float64
 31  CK                                                                                           153 non-null    float64
 32  Leukocyte                                                                                    604 non-null    float64
 33  Hemoglobin                                                                                   604 non-null    float64
 34  Trombosit                                                                                    604 non-null    float64
 35  Mean Corpuscular Volume                                                                      603 non-null    float64
 36  Mean Platelet Volume                                                                         591 non-null    float64
 37  PT                                                                                           237 non-null    float64
 38  INR                                                                                          304 non-null    float64
 39  Vitamin D                                                                                    193 non-null    float64
 40  Ferritin                                                                                     588 non-null    float64
 41  Ceruloplasmin                                                                                288 non-null    float64
 42  C Peptide                                                                                    167 non-null    float64
 43  Glucose                                                                                      601 non-null    float64
 44  Insulin                                                                                      277 non-null    float64
 45  HOMA                                                                                         277 non-null    float64
 46  Insulin resistance according to HOMA (insulin resistance = 1, no insulin resistance = 2)     277 non-null    float64
 47  Uric Acid                                                                                    254 non-null    float64
 48  BUN                                                                                          305 non-null    float64
 49  Creatinine                                                                                   305 non-null    float64
 50  Hemoglobin - A1C                                                                             564 non-null    float64
 51  Steatosis                                                                                    605 non-null    int64
 52  Activity                                                                                     605 non-null    int64
 53  Fibrosis                                                                                     605 non-null    int64
 54  NAS score according to Kleiner                                                               605 non-null    int64
 55  NAS score>=4 and Fibrosis>=2 (If NAS score>=4 and Fibrosis>=2 = 1, If not = 0)               605 non-null    int64
 56  Fibrosis status (No=0, Yes=1) (Fibrosis 1 and above, there is Fibrosis)                      605 non-null    int64
 57  Significant Fibrosis (No=0, Yes=1) (If Fibrosis 2 and above, there is Significant Fibrosis)  605 non-null    int64
 58  Advanced Fibrosis (No=0, Yes=1) (If Fibrosis is 3 and above, there is Advanced Fibrosis)     605 non-null    int64
 59  Cirrhosis (No=0, Yes=1) (If Fibrosis is 4, there is Cirrhosis)                               605 non-null    int64
 60  Diagnosis according to SAF (NASH=1, NAFL=2)                                                  605 non-null    int64
 61  Type of Disease (Mild illness=1, Severe illness=2)                                           605 non-null    int64
dtypes: float64(38), int64(24)
memory usage: 293.2 KB

In [80]:
# aba float value lai integer ma lanu paryo bhane 
pd.read_csv('NAFLD.csv' , dtype={'Type of Disease' :int}).info()
# yo use garyo bhane float chai int ma convert hinxa

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605 entries, 0 to 604
Data columns (total 62 columns):
 #   Column                                                                                       Non-Null Count  Dtype
---  ------                                                                                       --------------  -----
 0   Patient No.                                                                                  605 non-null    int64
 1   Age                                                                                          605 non-null    int64
 2   Gender (Female=1, Male=2)                                                                    605 non-null    int64
 3   Height                                                                                       605 non-null    int64
 4   Weight                                                                                       605 non-null    int64
 5   Body Mass Index                                                                              605 non-null    float64
 6   Waist Circumference                                                                          576 non-null    float64
 7   Hip Circumference                                                                            598 non-null    float64
 8   Systolic Blood Pressure                                                                      605 non-null    int64
 9   Diastolic Blood Pressure                                                                     605 non-null    int64
 10  Diyabetes Mellitus (No=0, Yes=1)                                                             605 non-null    int64
 11  Hypertension (No=0, Yes=1)                                                                   605 non-null    int64
 12  Hyperlipidemia (No=0, Yes=1)                                                                 605 non-null    int64
 13  Metabolic syndrome (No=0, Yes=1)                                                             605 non-null    int64
 14  Smoking Status (Never Smoked=1, Left Smoking=2, Smoking=3)                                   577 non-null    float64
 15  AST                                                                                          605 non-null    float64
 16  ALT                                                                                          605 non-null    int64
 17  ALP                                                                                          604 non-null    float64
 18  GGT                                                                                          602 non-null    float64
 19  LDH                                                                                          561 non-null    float64
 20  Total Bilirubin                                                                              604 non-null    float64
 21  Direct Bilirubin                                                                             604 non-null    float64
 22  Total Protein                                                                                523 non-null    float64
 23  Albumin                                                                                      605 non-null    float64
 24  Total Cholesterol                                                                            605 non-null    int64
 25  Triglycerides                                                                                604 non-null    float64
 26  HDL                                                                                          604 non-null    float64
 27  LDL                                                                                          602 non-null    float64
 28  Microalbumin Spot Urine                                                                      183 non-null    float64
 29  Microalbumin/Creatinine Ratio                                                                115 non-null    float64
 30  TSH                                                                                          293 non-null    float64
 31  CK                                                                                           153 non-null    float64
 32  Leukocyte                                                                                    604 non-null    float64
 33  Hemoglobin                                                                                   604 non-null    float64
 34  Trombosit                                                                                    604 non-null    float64
 35  Mean Corpuscular Volume                                                                      603 non-null    float64
 36  Mean Platelet Volume                                                                         591 non-null    float64
 37  PT                                                                                           237 non-null    float64
 38  INR                                                                                          304 non-null    float64
 39  Vitamin D                                                                                    193 non-null    float64
 40  Ferritin                                                                                     588 non-null    float64
 41  Ceruloplasmin                                                                                288 non-null    float64
 42  C Peptide                                                                                    167 non-null    float64
 43  Glucose                                                                                      601 non-null    float64
 44  Insulin                                                                                      277 non-null    float64
 45  HOMA                                                                                         277 non-null    float64
 46  Insulin resistance according to HOMA (insulin resistance = 1, no insulin resistance = 2)     277 non-null    float64
 47  Uric Acid                                                                                    254 non-null    float64
 48  BUN                                                                                          305 non-null    float64
 49  Creatinine                                                                                   305 non-null    float64
 50  Hemoglobin - A1C                                                                             564 non-null    float64
 51  Steatosis                                                                                    605 non-null    int64
 52  Activity                                                                                     605 non-null    int64
 53  Fibrosis                                                                                     605 non-null    int64
 54  NAS score according to Kleiner                                                               605 non-null    int64
 55  NAS score>=4 and Fibrosis>=2 (If NAS score>=4 and Fibrosis>=2 = 1, If not = 0)               605 non-null    int64
 56  Fibrosis status (No=0, Yes=1) (Fibrosis 1 and above, there is Fibrosis)                      605 non-null    int64
 57  Significant Fibrosis (No=0, Yes=1) (If Fibrosis 2 and above, there is Significant Fibrosis)  605 non-null    int64
 58  Advanced Fibrosis (No=0, Yes=1) (If Fibrosis is 3 and above, there is Advanced Fibrosis)     605 non-null    int64
 59  Cirrhosis (No=0, Yes=1) (If Fibrosis is 4, there is Cirrhosis)                               605 non-null    int64
 60  Diagnosis according to SAF (NASH=1, NAFL=2)                                                  605 non-null    int64
 61  Type of Disease (Mild illness=1, Severe illness=2)                                           605 non-null    int64
dtypes: float64(38), int64(24)
memory usage: 293.2 KB

In [82]:
# na_values paramter 
# pd.read_csv('',na_values=['something']) aba yo jaja xa tellai telle NaN mandinxa