### Random Imputation 
Suppose we have a column that have missing values at random so now we fill the missing values by using random numbers by selecting randomly which is already present in the column not the values that are random all over the world just random value present already in the data.

1. Advantages:
  - Easy
  - Data distribution is preserved when using this.
  - Well suited for linear data
2. Disadvantages:
  - Memory heavy when deployment

In [10]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df = pd.read_csv('train.csv',usecols=['Age','Fare','Survived'])

In [14]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [16]:
df.isnull().mean() * 100

Survived     0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [18]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size = 0.2 , random_state =2)

NameError: name 'X' is not defined