### Univariate imputer 
Single column ko help garne fill garna missing value haru tei column use garxa 
1. CompleteCaseAnalysis (CCA) - ja ja missing value xa tellai haiaddine tara 5% wala kam hunu paryo missing values
2. SimpleImputer (strategy haru hunxa garne mean , median , most freuqent haru use garne)
3. Categorical (simple imputer use garera most frequent use garne)
4. Random Sample Imputation (aba esma chau hamle random value le fill garne data haru jun payo tei random value nalikana aba hamle k garne bhane tyo column ma herne ani tyo column kai basis ma random value haru le fill garne

### Multivariate imputer
Multiple column use garxa elle chai fill garna aru aru ni column haru use garera fill garxa
1. KNN imputer - work on a algorithm called KNN ( neighbours haru use garera ) if there is missing value in any of the row then we use such a row that is mostly similar to another eow neighbour ma jun similar row xa telle fill garne.
2. We find similarity using Euclidean algorithms suppose we have to find the missing value of the row then first we find the euclidean distance for the nearest value and adter findin nearest value replace it with the nearest value from that row

In [62]:
import pandas as pd 
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer , SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [64]:
df = pd.read_csv('train.csv')[['Age','Pclass','Fare','Survived']]

In [66]:

df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [68]:

df.isnull().mean() * 100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [70]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [72]:
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.2 , random_state =2)

In [74]:
X_train.head()

      Age  Pclass     Fare
30   40.0       1  27.7208
10    4.0       3  16.7000
873  47.0       3   9.0000
182   9.0       3  31.3875
876  20.0       3   9.8458

In [76]:
X_train.isnull().sum()

Age       148
Pclass      0
Fare        0
dtype: int64

missing values , n_neighbors , weights , metric= nan euclidean , add_indicator = true or false

In [79]:
knn = KNNImputer(n_neighbors=3 , weights = 'distance')
X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.fit_transform(X_test)

In [81]:
pd.DataFrame(X_train_trf , columns = X_train.columns )

           Age  Pclass      Fare
0    40.000000     1.0   27.7208
1     4.000000     3.0   16.7000
2    47.000000     3.0    9.0000
3     9.000000     3.0   31.3875
4    20.000000     3.0    9.8458
..         ...     ...       ...
707  30.000000     3.0    8.6625
708  26.151292     3.0    8.7125
709  71.000000     1.0   49.5042
710  32.666667     1.0  221.7792
711  49.762895     1.0   25.9250

[712 rows x 3 columns]

In [83]:
lr = LogisticRegression()
lr.fit(X_train_trf , y_train)
y_pred = lr.predict(X_test_trf)

accuracy_score(y_test , y_pred)

0.7094972067039106

In [85]:
si = SimpleImputer()
X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.fit_transform(X_test)

In [87]:
lr = LogisticRegression()
lr.fit(X_train_trf2 , y_train)
y_pred2 = lr.predict(X_test_trf2)
accuracy_score(y_test,y_pred2)

0.6927374301675978

Simple imputer use garda kam ayo value knn bhanda